@model Dormamu.Web.Models.Pessoa

@{
    ViewData["Title"] = "Excluir pessoa";
}

<div class="container content-container">

    <div class="container my-5">
        <div class="row p-4 pt-lg-5 align-items-center text-center rounded-3 border shadow-lg">
            <h1>Excluir Pessoa</h1>
                <hr />
            
            <div class="px-5 pt-2 my-5 border-bottom">
                <h3>Tem certeza de que deseja excluir essa pessoa?</h3>
                <div class="my-5 px-5 ">
                    <dl class="row centered-form-control">
                        <dt class="col-sm-4 text-end">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-4 text-end">
                            @Html.DisplayNameFor(model => model.CPFCNPJ)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CPFCNPJ)
                        </dd>
                        <dt class="col-sm-4 text-end">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-4 text-end">
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Telefone)
                        </dd>
                    </dl>
                    <form asp-action="ExcluirPessoa" class="centered-form-control">
                        <input type="hidden" asp-for="ID" />
                        <div class="d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </div>
                    </form>
                </div>
                <div>
                    <a asp-action="Index">Voltar</a>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>